django==2.2.10
django-redis
djangorestframework
django-filter
django-cors-headers
django-debug-toolbar
django-imagekit
PyJWT
qiniu
qrcode
openpyxl
xlrd
xlwt
requests
celery
itsdangerous
elasticsearch
PyMySQL
pillow